In [37]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
df = pd.read_excel("C:/Users/year3/Downloads/Lab Session Data (1).xlsx")
df.head()

,Customer,Candies (#),Mangoes (Kg),Milk Packets (#),Payment (Rs),Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Candy,Mango,Milk
0,C_1,20,6,2,386,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,55.0,18.0
1,C_2,16,3,6,289,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C_3,27,6,2,393,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C_4,19,1,2,110,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,C_5,24,4,2,280,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:

df = df.drop(df.filter(like='Unnamed').columns, axis=1)
df = df.drop(['Candy', 'Mango', 'Milk'], axis=1)
df.head()

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280

In [9]:
# Matric A and C
A = df[['Candies (#)', 'Mangoes (Kg)', 'Milk Packets (#)']]
C = df['Payment (Rs)']

print(A)
# Matrix A has a dimension of 3 
print(C)

   Candies (#)  Mangoes (Kg)  Milk Packets (#)
0           20             6                 2
1           16             3                 6
2           27             6                 2
3           19             1                 2
4           24             4                 2
5           22             1                 5
6           15             4                 2
7           18             4                 2
8           21             1                 4
9           16             2                 4
0    386
1    289
2    393
3    110
4    280
5    167
6    271
7    274
8    148
9    198
Name: Payment (Rs), dtype: int64

In [19]:
A = np.array([
    [20, 6, 2],
    [16, 3, 6],
    [27, 6, 2],
    [19, 1, 2],
    [24, 4, 2],
    [22, 1, 5],
    [15, 4, 2],
    [18, 4, 2],
    [21, 1, 4],
    [16, 2, 4]
])

C = np.array([386, 289, 393, 110, 280, 167, 271, 274, 148, 198])
A_pseudoInv = np.linalg.pinv(A)

# Compute the cost vector x
x = np.dot(A_pseudoInv, C)

dimension=A.shape[1]
print("the  dimension is:",dimension)
vctr=A.shape[0]
print("the no.of vectors is:",vctr)
rank = np.linalg.matrix_rank(A)
print("the rank is:",rank)


print("Cost of each product:")
print("Candies:", round(x[0],2))
print("Mangoes:", round(x[1], 2))
print("Milk Packets:", round(x[2], 2))

the  dimension is: 3
the no.of vectors is: 10
the rank is: 3
Cost of each product:
Candies: 1.0
Mangoes: 55.0
Milk Packets: 18.0

In [27]:
print(df.head())

df['Class'] = ['RICH' if payment > 200 else 'POOR' for payment in df['Payment (Rs)']]


X = df[['Candies (#)', 'Mangoes (Kg)', 'Milk Packets (#)']]

y = df['Class']

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [36]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
print("Classification Report:")
print(classification_report(y_test, y_pred))
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

Accuracy: 0.5
Classification Report:
              precision    recall  f1-score   support

        POOR       0.50      1.00      0.67         1
        RICH       0.00      0.00      0.00         1

    accuracy                           0.50         2
   macro avg       0.25      0.50      0.33         2
weighted avg       0.25      0.50      0.33         2

Confusion Matrix:
[[1 0]
 [1 0]]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [44]:
import pandas as pd
import statistics

file_path = 'C:/Users/year3/Downloads/Lab Session Data (1).xlsx'
sheet_name = 'IRCTC Stock Price'
df = pd.read_excel(file_path, sheet_name=sheet_name)
print(df.head())

price = df['Price'].tolist()
mean=statistics.mean(price)
print("the mean is:",round(mean,2))
var=statistics.variance(price)
print("the variance is:",round(var,2))

           Date Month  Day    Price     Open     High      Low   Volume  \
0  Jun 29, 2021   Jun  Tue  2081.85  2092.00  2126.90  2065.05    1.67M
1  Jun 28, 2021   Jun  Mon  2077.75  2084.00  2112.45  2068.40  707.73K
2  Jun 25, 2021   Jun  Fri  2068.85  2084.35  2088.50  2053.10  475.82K
3  Jun 24, 2021   Jun  Thu  2072.95  2098.00  2098.00  2066.00  541.51K
4  Jun 23, 2021   Jun  Wed  2078.25  2102.00  2111.40  2072.00  809.62K

     Chg%
0  0.0020
1  0.0043
2 -0.0020
3 -0.0026
4 -0.0023
the mean is: 1560.66
the variance is: 58732.37

In [48]:
weds_df = df[df['Day'] == 'Wednesday']

# Calculate the sample mean of the "Price" column for Wednesdays
weds_df = df[df['Day'] == 'Wednesday'].fillna(0)  # replace missing values with 0
weds_price_mean = weds_df['Price'].mean()
print("Sample Mean of Price for Wednesdays:", weds_price_mean)

# Calculate the population mean of the "Price" column
population_mean = df['Price'].mean()
print("Population Mean of Price:", population_mean)

Sample Mean of Price for Wednesdays: nan
Population Mean of Price: 1560.6634538152598